azure-functions
azure-storage-blob
#flask
#nltk
numpy
openai
pinecone-client
pinecone-text
#pymilvus
pymongo
#PyMuPDF
#python-telegram-bot
python-dotenv
#rank_bm25
scipy
#sentence-transformers
#tiktoken
#weaviate-client
#wget