azure-storage-blob
azure-functions
#flask
nltk==3.8.1
numpy
openai
pinecone-client
pinecone-text
#pymilvus
pymongo
#PyMuPDF
#python-telegram-bot
python-dotenv
#rank_bm25
scipy
#sentence-transformers
tiktoken
#weaviate-client
#wget