<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous"> -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.js" integrity="sha512-RjvSEaeDqPCfUVQ9kna2/2OqHz/7F04IOl1/66LmQjB/lOeAzwq7LrbTzDbz5cJzlPNJ5qteNtHR56XaJSTNWw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <script src="/static/vue.js"></script>
    <script src="/static/axios.js"></script>

    <title> Query </title>
  </head>
  <body>
    <div id="app" class="container">
      <br>
			<div class="row">
				<div class="col-md-12 text-center" style="font-size: 20px;">
					<b> RoboTeam Twente </b> <img src="/static/logos/RoboTeam Twente.png" width=50px> has won the Open Source Awards 2023! A big thanks to everyone voting for us!
				</div>
			</div>
			<hr>

      <br>
      <div class="row">
        <div class="col-12 text-center   col-sm-12 text-sm-center   col-md-12   col-lg-6 text-lg-start">
          <h1>Ask and you shall receive</h1>
        </div>
        <div class="col-6 text-start   col-sm-6   col-md-6   col-lg-3 text-lg-end">
          <h1><a href="/tdps"> All TDPs </a></h1>
        </div>  
        <div class="col-6 text-end   col-sm-6  col-md-6   col-lg-3">
          <h1><a href="/query"> Query </a></h1>
        </div>  
      </div>

      <div class="row">
        <div class='col-md-12' style='padding-top:10px; color: #AAA'>
          Feedback or questions? Message me on <a style='display: inline' href="https://discordapp.com/channels/@me/emielsteerneman/"> Discord </a> (emielsteerneman) or at emielsteerneman@gmail.com  
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="offset-md-3 col-md-5">
            <input type="text" name="query" class="form-control" v-model="query" placeholder="Query" v-on:keyup.enter="onSubmit">
        </div>
        <div class="col-md-1">
          <button class="form-control btn btn-success" v-on:click="onSubmit" >Ask</button>
        </div>
      </div>


      <hr>

      <div class="row" v-if="!sentences.length && query.length && !show_example_query"> 
        <div class="col-md-12 text-center" style='font-size: 24px;'>
          No relevant information found for "{{ latest_query }}"
        </div>
      </div>

      <div v-if="show_example_query" class="text-center">
        <br><br><br>
        <h2> Some example queries. Click one </h2>
        <br>
        <div v-for="example_query in example_queries" @click="run_example_query(example_query)" class='col-md-12' style='font-size: 24px; cursor:pointer; padding-bottom: 20px;'>{{ example_query }}</div>
      </div>


      <!-- MAIN CONTENT -->

      <!-- Main row -->
      <div class="row" v-if="sentences.length">

          <!-- Begin sentences -->
          <div class="col-md-6" style="padding-right: 20px;">
            <h2> Sentences </h2>
            <!-- For each tdp -->
            <div v-for="tdp_id in tdp_order">
              <div class="col-md-11">
                <a v-bind:href="'/tdps/' + tdp_id"> {{ getTdp(tdp_id)['team'] }} {{ getTdp(tdp_id)['year'] }} </a>
                <img style="padding-left: 10px;" v-bind:src="getLogo(tdp_id)" width=40px>
              </div>

              <!-- For each paragraph in tdp -->
              <div v-for="paragraphs in sentences_by_tdp[tdp_id]" class="row" style="padding-bottom: 20px">
                
                <div class="col-md-11" style="font-size: 14px; font-weight: bold;" > {{ paragraphs[0]['paragraph_title'] }} </div>

                <div v-for="sentence in paragraphs" style="padding-left: 20px;">
                  <!-- For each sentence in paragraph -->
                    <div class="col-md-11" style="font-size: 12px;" v-html="highlight(sentence['text_raw'])"></div>
                </div><!-- // For each paragraph -->

              </div>
            </div><!-- // For each tdp -->
          </div><!-- End sentences-->



          <div class="col-md-6" style="padding-left: 20px">
            <!-- For each paragraph -->
            <h2> Paragraphs </h2>
            <div v-for="paragraph in paragraphs" class="row">
                <div class="col-md-11">
                    <a v-bind:href="'/tdps/' + paragraph['tdp_id']"> {{ getTdp(paragraph['tdp_id'])['team'] }} {{ getTdp(paragraph['tdp_id'])['year'] }}</a> <div style="padding-left: 20px; display: inline; font-size: 14px; font-weight: bold;"> {{ paragraph['title'] }}</div>
                </div>
                <p style="font-size: 12px;" v-html="highlight(paragraph['text_raw'])"></p>
            </div>
          </div>

          

      </div> <!-- // Main row -->
    </div> <!-- Container -->

    <script>

    function getIndicesOf(searchStr, str, caseSensitive) {
      var searchStrLen = searchStr.length;
      if (searchStrLen == 0) {
          return [];
      }
      var startIndex = 0, index, indices = [];
      if (!caseSensitive) {
          str = str.toLowerCase();
          searchStr = searchStr.toLowerCase();
      }
      while ((index = str.indexOf(searchStr, startIndex)) > -1) {
          indices.push(index);
          startIndex = index + searchStrLen;
      }
      return indices;
    }

    function postQuery(query, callback){
        axios.post("/api/query", {
            query: query
        }).then(callback)
    }

    function highlight_words(text, words){
        words.forEach(word => {
            word = " " + word
            indices = getIndicesOf(word, text, false)
            indices.slice().reverse().forEach(index => {
                text = text.slice(0, index) + "<span style='background-color: yellow;'>" + text.slice(index, index + word.length) + "</span>" + text.slice(index + word.length)
            })
        })
        return "&#8226 " + text
    }

    var app = new Vue({
        el: '#app',
        data: {
            query: "",
            sentences: [],
            sentences_by_tdp: [],
            paragraphs: [],
            tdps: [],
            tdp_order: [],
            query_words: [],
            show_example_query: true,
            example_queries: [
              "What is a better dribbler material ? Silicon or rubber ?",
              "Should I make my robot out of plastic of aluminum ?",
              "How can I combine Voronoi diagrams and Bezier curves ?",
              "I want to know more about reinforcement learning",
              "I want to know more about the ROS framework",
              "Are there any simulator alternatives ?",
            ],
            latest_query: ""
        },
        methods: {
            onSubmit: function(){
              this.show_example_query = false 
              this.latest_query = this.query
              postQuery(
                  this.query,
                  response => {
                      this.sentences = response.data['sentences']
                      this.sentences_by_tdp = response.data['sentences_by_tdp']
                      this.paragraphs = response.data['paragraphs']
                      this.tdps = response.data['tdps']
                      this.tdp_order = response.data['tdp_order'],
                      this.query_words = response.data['query_words']
                      console.log(this.query_words)
                  }
              )
            },
            getTdp: function(tdp_id){
                tdp_found = null
                this.tdps.forEach(tdp => {
                    if(tdp['id'] == tdp_id){
                        tdp_found = tdp
                    }
                })
                if (tdp_found == null){
                    return "Error: not found"
                }
                return tdp_found
            },
            getParagraph: function(paragraph_id){
                paragraph_found = null
                this.paragraphs.forEach(paragraph => {
                    if(paragraph['id'] == paragraph_id){
                        paragraph_found = paragraph
                        console.log("Found paragraph with id " + paragraph_id)
                    }
                })
                if (paragraph_found == null){
                    console.log("Could not find paragraph with id " + paragraph_id)
                }
                return paragraph_found
            },
            highlight: function(text){
                return highlight_words(text, this.query_words)
            },
            run_example_query: function(text){
              this.query = text
              this.onSubmit()
            },
            getLogo: function(tdp_id){
              tdp = app.getTdp(tdp_id)
              return "/static/logos/" + tdp['team']+ ".png"
            }
        },
        mounted: function() {
            console.log("mounted")
        }
    })
    </script>

  </body>
</html>