<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous"> -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.js" integrity="sha512-RjvSEaeDqPCfUVQ9kna2/2OqHz/7F04IOl1/66LmQjB/lOeAzwq7LrbTzDbz5cJzlPNJ5qteNtHR56XaJSTNWw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <script src="/static/vue.js"></script>
    <script src="/static/axios.js"></script>

    <title> Query </title>
  </head>
  <body>
    <div id="app" class="container">
      <br>
			<div class="row">
				<div class="col-md-12 text-center" style="font-size: 20px;">
					<b> R-R-R-RoboTeam Twente </b> <img src="/static/logos/RoboTeam Twente.png" width=50px> has won the Open Source Awards 2023! A big thanks to everyone voting for us!
				</div>
			</div>
			<hr>

      <br>
      <div class="row">
        <div class="col-12 text-center   col-sm-12 text-sm-center   col-md-12   col-lg-6 text-lg-start">
          <h1>Ask and you shall receive</h1>
        </div>
        <div class="col-6 text-start   col-sm-6   col-md-6   col-lg-3 text-lg-end">
          <h1><a href="/tdps"> All TDPs </a></h1>
        </div>  
        <div class="col-6 text-end   col-sm-6  col-md-6   col-lg-3">
          <h1><a href="/query"> Query </a></h1>
        </div>  
      </div>

      <div class="row" style='padding-top:10px; color: #AAA'>
        <div class='col-md-8'>
          Feedback or questions? Message me on <a style='display: inline' href="https://discordapp.com/channels/@me/emielsteerneman/"> Discord </a> (emielsteerneman) or at emielsteerneman@gmail.com  
        </div>
        <div class="col-md-4 text-end">
          <a href="https://github.com/emielsteerneman/TDP"> Github <img src="/static/github.png" width=20px></a>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="offset-md-3 col-md-5">
            <input type="text" name="query" class="form-control" v-model="query" placeholder="Query" v-on:keyup.enter="onSubmit">
        </div>
        <div class="col-md-1">
          <button class="form-control btn btn-success" v-on:click="onSubmit" >Ask</button>
        </div>
      </div>

      <hr>

      <div class="row" v-if="!search_in_progress && !Object.keys(sentences).length && !server_error && latest_query.length && !show_example_query"> 
        <div class="col-md-12 text-center" style='font-size: 24px;'>
          No relevant information found for "{{ latest_query }}"
        </div>
      </div>

      <div class="row" v-if="search_in_progress && !server_error"> 
        <div class="col-md-12 text-center" style='font-size: 24px;'>
          Searching for "{{ latest_query }}"..
        </div>
      </div>

      <div class="row" v-if="server_error">
        <div class="col-md-12 text-center" style='font-size: 24px;'>
          Server error. Please contact me or create an issue on <a href="https://github.com/emielsteerneman/TDP/issues"> Github <img src="/static/github.png" width=20px></a>
        </div>
      </div>

      <div v-if="show_example_query" class="text-center">
        <br><br><br>
        <h2> Some example queries. Click one </h2>
        <br>
        <div v-for="example_query in example_queries" @click="run_example_query(example_query)" class='col-md-12' style='font-size: 24px; cursor:pointer; padding-bottom: 20px;'>{{ example_query }}</div>
      </div>


      <!-- MAIN CONTENT -->

      <!-- Main row -->
      <div class="row" v-if="Object.keys(sentences).length">

        <div class="col-md-9">
          <h2> Text </h2>
          <div v-for="[tdp_id, sub_paragraphs] in ordering">
            <a v-bind:href="'/tdps/' + tdp_id"> {{ tdps[tdp_id]['team'] }} {{ tdps[tdp_id]['year'] }} </a>
            <div v-for="[paragraph_id, sub_sentences] in sub_paragraphs">
              <b>{{ paragraphs[paragraph_id]['title'] }}</b>
              <div v-for="sentence_id in sub_sentences" v-html="highlight(sentences[sentence_id]['text_raw'])" style="display: inline"></div>
            </div> 
            <br>
          </div>
        </div>

        <!-- Begin images -->
        <div class="col-md-3">
          <h2> Images </h2>
          <!-- for each image -->
          <div class="text-center" v-for="image in ordering_images" style="margin:10px; border: 1px solid black">
            <a :href="'/tdps/' + image_to_tdp[image] ">
              <img :src="images[image]['filename']" height="200px" />
            </a>
            <br>
            <b>{{ tdps[image_to_tdp[image]]['team'] }} {{ tdps[image_to_tdp[image]]['year'] }}</b>
            {{ images[image]['text_raw'] }}
          </div>
        </div><!-- End images -->

      </div> <!-- // Main row -->
      
    </div> <!-- Container -->

    <script>

    function getIndicesOf(searchStr, str, caseSensitive) {
      var searchStrLen = searchStr.length;
      if (searchStrLen == 0) {
          return [];
      }
      var startIndex = 0, index, indices = [];
      if (!caseSensitive) {
          str = str.toLowerCase();
          searchStr = searchStr.toLowerCase();
      }
      while ((index = str.indexOf(searchStr, startIndex)) > -1) {
          indices.push(index);
          startIndex = index + searchStrLen;
      }
      return indices;
    }

    function postQuery(query, callback, callback_error){
        axios.post("/api/query", {
            query: query
        })
        .then(callback)
        .catch(callback_error)
    }

    function highlight_words(text, words){
        words.forEach(word => {
            word = word
            indices = getIndicesOf(word, text, false)
            indices.slice().reverse().forEach(index => {
                text = text.slice(0, index) + "<span style='background-color: yellow;'>" + text.slice(index, index + word.length) + "</span>" + text.slice(index + word.length)
            })
        })
        // return text
        return "&nbsp &#8226 &nbsp" + text
    }

    var app = new Vue({
        el: '#app',
        data: {
            query: "",
            tdps: [],
            paragraphs: [],
            sentences: [],
            images: [],
            ordering: [],
            ordering_images: [],
            image_to_tdp: {},
            query_words: [],

            show_example_query: true,
            example_queries: [
              "What is a better dribbler material ? Silicon or rubber ?",
              "Should I make my robot out of plastic of aluminum ?",
              "How can I combine Voronoi diagrams and Bezier curves ?",
              "I want to know more about reinforcement learning",
              "I want to know more about the ROS framework",
              "Are there any simulator alternatives ?",
            ],
            latest_query: "",
            search_in_progress: false,
            server_error: false
        },
        methods: {
            onSubmit: function(){
              this.search_in_progress = true
              this.show_example_query = false 
              this.latest_query = this.query
              postQuery(
                this.query,
                response => {
                  this.tdps = response.data['tdps']
                  this.paragraphs = response.data['paragraphs']
                  this.sentences = response.data['sentences']
                  this.images = response.data['images']
                  this.ordering = response.data['ordering']
                  this.ordering_images = response.data['ordering_images']
                  this.image_to_tdp = response.data['image_to_tdp']
                  this.query_words = response.data['query_words']
                  
                  /*
                  this.sentences_by_tdp = response.data['sentences_by_tdp']
                  this.paragraphs = response.data['paragraphs']
                  this.tdps = response.data['tdps']
                  this.tdp_order = response.data['tdp_order'],
                  */
                  this.search_in_progress = false
                },
                error => {
                    this.search_in_progress = false
                    this.server_error = true
                }
              )
            },
            getTdp: function(tdp_id){
                tdp_found = null
                this.tdps.forEach(tdp => {
                  if(tdp['id'] == tdp_id){
                    tdp_found = tdp
                    return
                  }
                })
                if (tdp_found == null){
                    return "Error: not found"
                }
                return tdp_found
            },
            getParagraph: function(paragraph_id){
              paragraph_found = null
              this.paragraphs.forEach(paragraph => {
                if(paragraph['id'] == paragraph_id){
                  paragraph_found = paragraph
                  return
                  // console.log("Found paragraph with id " + paragraph_id)
                }
              })
              if (paragraph_found == null){
                console.log("Could not find paragraph with id " + paragraph_id)
              }
              return paragraph_found
            },
            getSentence: function(sentence_id){
              sentence_found = null
              this.sentences.forEach(sentence => {
                if(sentence['id'] == sentence_id){
                  sentence_found = sentence
                  return
                }else{
                  console.log(sentence['id'], " != ", sentence_id)
                }
              })
              if (sentence_found == null){
                console.log("Could not find sentence with id " + sentence_id)
              }
              return sentence_found
            },
            highlight: function(text){
                return highlight_words(text, this.query_words)
            },
            run_example_query: function(text){
              this.query = text
              this.onSubmit()
            },
            getLogo: function(tdp_id){
              tdp = app.getTdp(tdp_id)
              return "/static/logos/" + tdp['team']+ ".png"
            }
        },
        mounted: function() {
            console.log("mounted")
        }
    })
    </script>

  </body>
</html>