<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous"> -->
    <!--
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.js" integrity="sha512-RjvSEaeDqPCfUVQ9kna2/2OqHz/7F04IOl1/66LmQjB/lOeAzwq7LrbTzDbz5cJzlPNJ5qteNtHR56XaJSTNWw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    -->

    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <script src="/static/vue.js"></script>
    <script src="/static/axios.js"></script>

  
    <title>{{ tdp['year'] }} - {{ tdp['team'] }}</title>
  </head>
  <body>
    <div id="app">

      <!-- Navbar Top -->
      <nav class="navbar navbar-expand navbar-light bg-light fixed-top">
        <div class="container">

          <a class="navbar-brand" href="#">
            <img src="/static/logos/RoboTeam Twente.png" alt="Logo" width="24" height="24" class="d-inline-block align-text-top">
            RTT ETDP 
          </a>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/tdps">TDPs by team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">TDPs by year</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="https://github.com/emielsteerneman/TDP">
                  <img src="/static/github.png" alt="Logo" width="24" height="24">
                  Github
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="https://discordapp.com/channels/@me/emielsteerneman/">
                  <img src="/static/discord.svg" alt="Logo" width="24" height="24">
                  Discord
                </a>
              </li>
            </ul>

            <form class="d-flex ms-auto me-auto flex-fill" action="/query">
              <input class="form-control" id="searchbox" type="search" placeholder="Search" name="q">
              <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>

          </div>

        </div>
      </nav>
      <!-- // Navbar Top -->

      <!-- Navbar Bottom -->
      <nav class="navbar fixed-bottom bg-body-tertiary bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container">
          <a class="navbar-brand">Winner of the Open Source Award 2023!</a>
        </div>
      </nav>
      <!-- // Navbar Bottom -->

      <div class="container" style="padding-top: 75px;">

        <!-- Switch button and Title -->
        <div class="row">
          <div class="col-md-3 text-left">
            <div v-if="rendering_html">
              <button class="btn btn-primary" v-on:click="rendering_html = false"> Switch to PDF view </button>
            </div>
            <div v-if="!rendering_html">
              <button class="btn btn-primary" v-on:click="rendering_html = true"> Switch to HTML view </button>
            </div>
          </div>

          <div class="col-7 text-end">
            <h1>{{ tdp['year'] }} - {{ tdp['team'] }}</h1>
          </div>
        </div>

        <div class="row">

          <!-- HTML Viewer -->
          <div class="col-md-10" v-if="rendering_html">
            <!-- Load in different HTML file using a frame -->
            <iframe src="/static/tdps/{{ tdp['id'] }}/tdp.html" width="100%" frameborder="0" scrolling="no" onload="resizeIframe(this)"></iframe>
          </div>

          <!-- PDF Viewer -->
          <div class="col-md-10" v-if="!rendering_html">
              <object data="{{filepath}}" type="application/pdf" width="100%" height="900px">   
              <p>Unable to display PDF file. <a href="{{filepath}}">Download</a> instead.</p>
              <p> Are you on Firefox? Go to <code>about:config</code> and set <code>browser.download.open_pdf_attachments_inline</code> to <code>true</code>.</p> 
              </object>
          </div>

          <!-- Paragraphs -->
          <div class="col-md-2">
              
            <!-- For each paragraph -->
            {% raw %}
            <div style="overflow-y: scroll; overflow-x: hidden; padding-right: 10px;">
              <h3> Paragraphs </h3>
              <div v-for="(paragraph, idx) in paragraphs" :key="idx">
                <div style="display:inline; font-size:14px; font-weight: bold;"> {{ paragraph['title'] }} </div>
                <br>
              </div>
            </div>
            {% endraw %}

          </div> <!-- Active paragraph -->

        </div> <!-- Main row -->
      </div> <!-- Container -->
    </div>

    <script>
      function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
      }
    </script>

    <script>
      TDP_ID = {{ tdp['id'] }}
    </script>

    {% raw %}
    <script>

    var app = new Vue({
        el: '#app',
        data: {
            message: 'You loaded this page on ' + new Date().toLocaleString(),
            paragraphs: [],
            active_paragraph: {
                id: -1,
                title: "",
                text: "",
            },
            rendering_html: true
        },
        mounted: function() {
          axios.get("/api/tdps/" + TDP_ID + "/paragraphs")
            .then(response => {
              console.log(response.data)
              this.paragraphs = response.data
            })
        }
    })
    </script>
    {% endraw %}

  </body>
</html>