<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous"> -->
    <!--
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.js" integrity="sha512-RjvSEaeDqPCfUVQ9kna2/2OqHz/7F04IOl1/66LmQjB/lOeAzwq7LrbTzDbz5cJzlPNJ5qteNtHR56XaJSTNWw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    -->

    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <script src="/static/vue.js"></script>
    <script src="/static/axios.js"></script>

  
    <title>{{ tdp['year'] }} - {{ tdp['team'] }}</title>
  </head>
  <body>
    <div id="app" class="container">
      <br>
			<div class="row">
				<div class="col-md-12 text-center" style="font-size: 20px;">
					<b> RoboTeam Twente </b> <img src="/static/logos/RoboTeam Twente.png" width=50px> has won the Open Source Awards 2023! A big thanks to everyone voting for us!
				</div>
			</div>
			<hr>

      <br>
      <div class="row">
        <div class="col-12 text-center   col-sm-12 text-sm-center   col-md-12   col-lg-6 text-lg-start">
          <h1>{{ tdp['year'] }} - {{ tdp['team'] }}</h1>
        </div>
        <div class="col-6 text-start   col-sm-6   col-md-6   col-lg-3 text-lg-end">
          <h1><a href="/tdps"> All TDPs </a></h1>
        </div>  
        <div class="col-6 text-end   col-sm-6  col-md-6   col-lg-3">
          <h1><a href="/query"> Query </a></h1>
        </div>  
      </div>


      <div class="row">
        <div class='col-md-12' style='padding-top:10px; color: #AAA'>
          Feedback or questions? Message me on <a style='display: inline' href="https://discordapp.com/channels/@me/emielsteerneman/"> Discord </a> (emielsteerneman) or at emielsteerneman@gmail.com  
        </div>
      </div>

      <hr>

      <div class="row">
        <!-- PDF Viewer -->
        <div class="col-md-10">
            <object data="{{filepath}}" type="application/pdf" width="100%" height="900px">   
            <p>Unable to display PDF file. <a href="{{filepath}}">Download</a> instead.</p>
            <p> Are you on Firefox? Go to <code>about:config</code> and set <code>browser.download.open_pdf_attachments_inline</code> to <code>true</code>.</p> 
            </object>
        </div>

        <!-- Paragraphs -->
        <div class="col-md-2">
            
          <!-- For each paragraph -->
          {% raw %}
          <div style="overflow-y: scroll; overflow-x: hidden; padding-right: 10px;">
            <h3> Paragraphs </h3>
            <div v-for="paragraph in paragraphs" :key="paragraph">
                <!--
                <div class="col-md-2" style="padding-bottom: 3px">
                  <button class="form-control btn btn-primary btn-sm" v-on:click="onEdit(paragraph)"> Read </button>
                </div>
                -->
                  <div style="display:inline; font-size:14px; font-weight: bold;"> {{ paragraph['title'] }} </div>
                <!--
                <div class="col-md-2">
                  <button class="form-control btn btn-danger" v-on:click="onDelete(paragraph)">Delete</button>
                </div>
                -->
                <!-- <p style="font-size: 12px;"> {{ paragraph['text_raw'] }} </p> -->
                <br>
            </div>
          </div>
          
          <!-- Active paragraph 
          <div class="row">
              <div class="col-md-4">
                <input type="text" name="title" class="form-control" v-model="active_paragraph.title" placeholder="Paragraph title">
              </div>
              <div class="col-md-1">
                <input type="text" name="title" class="form-control" v-model="active_paragraph.id" placeholder="Paragraph title" disabled>
              </div>
              <div class="col-md-2">
                <button class="form-control btn btn-success" v-on:click="onSubmit">Save</button>
              </div>
              <div class="col-md-2">
                <button class="form-control btn btn-warning" v-on:click="onClear">Clear</button>
              </div>
          </div>
          -->

          <!--
          <p v-model='active_paragraph.text_raw'>{{ active_paragraph.text_raw }}</p>
          -->

          <!--
          <br>
          <div class="row">
              <div class="col-md-12">
                <textarea rows="8" name="textfield" class="form-control" @paste="onTextfieldChange" @change="onTextfieldChange" v-model="active_paragraph.text"></textarea>
              </div>
          </div>
          -->
          {% endraw %}

        </div> <!-- Active paragraph -->

      </div> <!-- Main row -->
    </div> <!-- Container -->
    
    <script>
      TDP_ID = {{ tdp['id'] }}
    </script>
    {% raw %}
    <script>

    function submitParagraph(id, title, text, callback) {
      console.log("submitting paragraph", id, title)
      axios.post("/api/tdps/" + id + "/paragraphs", {
        id: id,
        tdp_id: TDP_ID,
        title: title,
        text: text,
      }).then(callback)
    }

    function deleteParagraph(id, callback) {
      console.log("deleting paragraph", id)
      axios.delete("/api/tdps/" + TDP_ID + "/paragraphs/" + id)
        .then(callback)
    }

    var app = new Vue({
        el: '#app',
        data: {
            message: 'You loaded this page on ' + new Date().toLocaleString(),
            paragraphs: [],
            active_paragraph: {
                id: -1,
                title: "",
                text: "",
            },
        },
        methods: {
          onSubmit: function(){ submitParagraph(
            this.active_paragraph.id,
            this.active_paragraph.title,
            this.active_paragraph.text,
            response => {
              this.paragraphs = response.data
              this.onClear()
            }
          )},
          onEdit: function(paragraph) {
            this.active_paragraph = JSON.parse(JSON.stringify(paragraph));
          },
          onDelete: function(paragraph) {
            console.log("deleting", paragraph)
            deleteParagraph(paragraph.id, response => {
              this.paragraphs = response.data
            })
          },
          onClear: function() {
            this.active_paragraph = {
                id: -1,
                title: "",
                text: "",
            }
          },


          onTextfieldChange: function() {
            console.log(event)
            this.active_paragraph.text = this.active_paragraph.text.replace(/[^a-zA-Z0-9 \.,]/g, ' ');
          }
        },
        mounted: function() {
          axios.get("/api/tdps/" + TDP_ID + "/paragraphs")
            .then(response => {
              console.log(response.data)
              this.paragraphs = response.data
            })
        }
    })
    </script>
    {% endraw %}

  </body>
</html>