<html>
	<head>
		<!--
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.js" integrity="sha512-RjvSEaeDqPCfUVQ9kna2/2OqHz/7F04IOl1/66LmQjB/lOeAzwq7LrbTzDbz5cJzlPNJ5qteNtHR56XaJSTNWw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		-->
		<link href="/static/bootstrap.min.css" rel="stylesheet">
		<script src="/static/vue.js"></script>
		<script src="/static/axios.js"></script>
	</head>
	<body>
		<div class="container" id="app">
			<br>
			<div class="row">
				<div class="col-md-12 text-center" style="font-size: 20px;">
					<b> RoboTeam Twente </b> <img src="/static/logos/RoboTeam Twente.png" width=50px> has won the Open Source Awards 2023! A big thanks to everyone voting for us!
				</div>
			</div>
			<hr>

			<br>
			<div class="row">
			  <div class="col-12 text-center   col-sm-12 text-sm-center   col-md-12   col-lg-6 text-lg-start">
				<h1>Overview of all TDPs</h1>
			  </div>
			  <div class="col-6 text-start   col-sm-6   col-md-6   col-lg-3 text-lg-end">
				<h1><a href="/tdps"> All TDPs </a></h1>
			  </div>  
			  <div class="col-6 text-end   col-sm-6  col-md-6   col-lg-3">
				<h1><a href="/query"> Query </a></h1>
			  </div>  
			</div>
		
			<div class="row">
				<div class='col-md-12' style='padding-top:10px; color: #AAA'>
					Feedback or questions? Message me on <a style='display: inline' href="https://discordapp.com/channels/@me/emielsteerneman/"> Discord </a> (emielsteerneman) or at emielsteerneman@gmail.com  
				</div>
			</div>

			<hr>
			<div class="row">

				<div class="col-4 text-center   col-lg-2 text-lg-start">
					<h2><a href="/tdps"> All TDPs </a> </h2>
				</div>

				<div class="col-4 text-center   col-lg-2 text-lg-start">
					<h2><a href="/tdps?groupby=team"> By Team </a> </h2>
				</div>

				<div class="col-4 text-center   col-lg-2 text-lg-start">
					<h2><a href="/tdps?groupby=year"> By Year </a> </h2>
				</div>

				<div style="padding-bottom: 20px"></div>

				{% if groupby == "team" %}
				<div class="row">
					<!-- Render all tdps with Jinja -->
					{% for team in data | dictsort %}
						<div class="col-md-2" style="border: solid 1px #DDD; padding: 15px">
							<div class='row'>
								<div class='col-md-7'>
									<b> {{ team[0] }} </b>
								</div>
								<div class='col-md-5 float-right'>
									<img src="/static/logos/{{ team[0] }}.png" width=50px>
								</div>
							</div>
							<br>
							{% for tdp in team[1] %}
							<div style="display: inline-block; padding: 2px;"><a href="/tdps/{{ tdp['id'] }}">{{ tdp['year'] }}</a></div>
							{% endfor %}
						</div>
					{% endfor %}
				</div>
				{% endif %}

				{% if groupby == "year" %}
				<div class="pure-u-1-1">
					<!-- Render all tdps with Jinja -->
					{% for year in data | dictsort | reverse %}
						<div class="pure-u-11-12">
							<b> {{ year[0] }} </b>
							<br>
							{% for tdp in year[1] %}
								<div style="display: inline-block; padding: 10px;">
									<img src="/static/logos/{{ tdp['team'] }}.png" width=30px>
									<a href="/tdps/{{ tdp['id'] }}">{{ tdp['team'] }}</a>
								</div> 
							{% endfor %}
							<br><br><br>
						</div>
					{% endfor %}
				</div>
				{% endif %}

				{% if groupby == None %}
				<div class="pure-u-1-1">
					<!-- Render all tdps with Jinja -->
					<table>
						<thead> 
							<tr>
								<th>Filename</th>
								<th>Team</th>
								<th>Year</th>
							</tr>
						</thead>
					{% for tdp in data %}
						
						<tr>
							<td><a href="/tdps/{{ tdp['id'] }}"> {{ tdp.filename }} </a></td>
							<td>{{ tdp.team }}</td>
							<td>{{ tdp.year }}</td>
						</tr>
					{% endfor %}
					</table>
				</div>
				{% endif %}

			</div>
		
		</div>

	{% raw %}
	<script>

	var app = new Vue({
		el: '#app',
		data: {
		},
		methods: {
			setAltImg: function(){
				console.log("Setting alt image!")
			}
		},
		mounted: function() {
			console.log("App mounted!")
		}
	})
	</script>
	{% endraw %}

	</body>
</html>